*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  width: 100vw;

}

body, button, input, textarea{
  font-size: clamp(14px, 1rem, 2vw);

  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}

sr-only{
  position: absolute;
  height: 1px;
  width: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: rect(0,0,0,0);
  white-space: nowrap;
  border-width: 0;
}