*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  width: 100vw;

}

body, button, input, textarea, a{
  font-size: clamp(14px, 1rem, 2vw);

  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  border: none;
}
